.navbar {
  background-color: rgb(204, 142, 92);
  border-bottom: 2px solid saddlebrown;
  box-shadow: 0 0 10px rgb(73, 53, 5);
  position: static;
}
.heading {
  text-align: center;
}
.explore-img img{
  width: 500px !important;
  height: 250px !important;
}
.my-image img{
  width: 200px !important;
  height: 200px !important;
  border: 2px solid rgb(206, 158, 54);
  border-radius: 0.9rem;
  box-shadow: rgb(192, 150, 61);
  padding: 0.3rem;
}
.content button{
  color: brown;
}
.accordion-item{
  border: 1px solid saddlebrown !important;
}
.in-icons i{
  font-size: 35px;
}
.my-icons i{
  display: flex;
  margin: 0 0.2rem !important;
}
